.categoryItem {
    width: 80%;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
}
.categoryItem__photo {
    width: 50%;
    margin: 0 auto;
}
.categoryItem__photo img{
    width: 50%;
}
.categoryBorder {
    background: radial-gradient(at 50% 0,rgb(138, 136,136), transparent 50%);
    background-size: 100% 8px;
    background-repeat: no-repeat;
}
.categoryItem__details {
    width: 50%;
}
.categoryItem__details--btn {
    padding: 10px;
    background: #FF00A1;
    color: white;
}