.categoryItem {
    display: flex;
    padding: 15px;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    &__photo {
        width: 30%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    &__details {
        width: 70%;
        font-size: 1.6rem;
        &--description{
            padding: 2rem;
            font-size: inherit;
        }
        &--btn {
            padding: 10px;
            background: $primary-red;
            color: white;
            font-size: inherit;
            cursor: pointer;
            border: 0;
            outline: 0
        }
    }
}
.categoryBorder {
    background: radial-gradient(at 50% 0,rgb(138, 136,136), transparent 60%);
    background-size: 100% 8px;
    background-repeat: no-repeat;
}