* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
    body {
        width: 100%;
        font-size: 20%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    } 
    .main {
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 100% !important;
    }
    .right {
        width: 100% !important;
    }
}

@media only screen and (min-width: 650px) {
    body {
        width: 100%;
        font-size: 25%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    } 
}
@media only screen and (min-width: 768px) {
    body {
        width: 100%;
        font-size: 40%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    } 
}
@media only screen and (min-width: 992px) {
    body {
        width: 90%;
        font-size: 50%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1150px) {
    body {
        width: 70%;
        font-size: 62.5%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }
}
.disabled {
    cursor: not-allowed;
    opacity: .5;

}

.header {
    background: #8bc34a;
    h1 {
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
        color: #fff;
    }    
}
.main {
    display: flex;
    justify-content: space-evenly;
    background: #d8efe1;
    .left {
        padding: 2px;
        display: flex;
        flex-direction: column;
        width: 50%;
        .left__inputBox {
            padding: 2rem;
            font-size: 1.3rem;
            margin: 1rem;
            text-align: center;
            background: #fff;
            box-shadow: 1px 1px 1px 1px #888888;
            text-align: left;
            &--heading{
                padding: 1rem;
                text-align: center;
                font-size: 2.3rem;
            }
            &--label {
                display: block;
                padding: 1rem;
                font-size: .8rem;
                color: #888282;
            }
            &--input {
                display: block;
                direction: rtl;
                width: 100%;
                padding: 1rem;
                border: 1px solid#ab97976b;
                border-radius: 1rem;
                outline: none;
                font-size: 1.5rem;
                -webkit-appearance: none; 
            }
            &--btn {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 25px;
                width: 100%;
                margin: 1rem 0;
                border-radius: 5px;
            }
        }
    }
    .right {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        width: 50%; 
        &__heading {
            border-bottom: 1px solid #ab97976b;
            font-weight: bold;
            padding: .7rem 0;
        }
        &__noteDetailRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: left;
            border-bottom: 1px solid #ab97976b;
            padding: 0.7rem 0;
            &--col {
                width: 50%
            }
        }
        &__finalCount {
            border-bottom: 1px solid #ab97976b;
            padding: .7rem 0;
            font-weight: bold;
        }
    }
}