.cart {
    height: 100%;
    margin: 0 auto;
    .cartFooter {
        height: 20%;
        .promoCode {
            background: white;
            text-align: center;
            padding: 20px;
            font-size: 20px;
        }
        .checkout {
            color: white;
            display: flex;
            justify-content: space-between;
            background: white;
            border:10px solid white;
            cursor: pointer;
            div {
                width: 50%;
                padding: 20px;
                background: $primary-red;
            }
            &__amount {
                text-align: right;
            }
            &__arrow {
                padding: 0 10px;
            }
        }
        .startShopping {
            display: none;
            background: $primary-red;
            text-align: center;
            color: white;
            padding: 20px;
            font-size: 25px;
        }
    }
    .cart__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: black;
        color: white;
        align-items: center;
        .cart__header--title {
            font-size: 20px;
            letter-spacing: 1px;
            padding: 20px;
            font-family: inherit;
        }
        .cart__header--close {
            padding: 20px;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .cartItemContainer {
        overflow: scroll;
        background: white;
        &__empty {
            position: relative;
            min-height: 350px;
            display: none;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            .emptyCartContent {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
            }
        }
        .cartItem {
            display: flex;
            padding: 10px;
            align-items: center;
            border-top: 10px solid $light-grey;
            .cartItem__image {
                width: 20%;
                img {
                    max-width: 100%;
                }
            }
            .cartItem__details {
                width: 65%;
                padding:20px;
                font-size: 1.5rem;
                &--name {
                    padding: 1px;
                }
                &--quantity {
                    display: flex;
                    padding: 20px;
                    &--minus,&--plus,&--number,&--multiply,&--total{
                        padding: 10px;
                    }
                    &--minus,&--plus {
                        background: $primary-red;
                        border-radius: 10px;
                        color: white;
                        font-size: 20px;
                        line-height: 15px;
                        cursor: pointer;
                    }
                }
            }
            .cartItem__price {
                width: 15%;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

    }
    .lowerPriceLabelContent{
        background: white;
        display: flex;
        align-items: center;
        min-height: 120px;
        max-height: 200px;
        .lowerPriceLabel {
            display: flex;
            background: white;
            align-items: center;
            justify-content: flex-start;
            border: 10px solid $light-grey;
            font-size: 20px;
            padding: 15px;
            &--img{
                padding: 10px;
            }
            &--text{
                padding: 10px;
            }
        }
    }
    
    .header {
        background: white;
        border-bottom: 10px solid rgb(221, 220, 220);
        .headerContainer {
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: flex-end;
            &__logo {
                width: 20%;
                img {
                    max-width: 100%;
                }
            }
            &__navigation {
                width: 60%;
                padding: 10px 70px;
                li {
                    display: inline;
                    padding: 15px;
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.5rem;
                    }
                }
            }
            .headerRight {
                width: 20%;
                display: flex;
                flex-direction: column;
                .loginContainer {
                    color: black;
                    text-align: right;
                    padding: 10px;
                    .login {
                        padding: 0 10px;
                    }
                    a {
                        text-decoration: none;
                        color: grey;
                    }
                }
                .cartIcon {
                    background: $light-grey;
                    padding: 10px;
                    img {
                        max-width: 35%;
                        vertical-align: middle;
                    }
                    .cartCount {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .cart {
        top: 0;
        width: 100%;
        .cartContainer {
            height: 80%;
            background: $light-grey;
        }
        .header {
            .headerContainer {
                .headerRight {
                    .loginContainer {
                        display: none;
                    } 
                }
            }
        }
        .cart__header {
            background: white;
            color: black;
            border-bottom: 5px solid $light-grey;
            .cart__header--close {
                display: none;
            }
        }
        .cartItemContainer {
            max-height: 350px;
            .cartItem {
                .cartItem__details {
                    font-size: 1.2rem;
                }
            }
        }
        .lowerPriceLabel { 
            font-size: 1.5rem;
            padding: 10px;
            min-height: 100px;
            max-height: 300px;
            background: $light-grey;
            &--img{
                background: white;
                padding: 5px;
            }
            &--text{
                background: white;
                padding: 5px;
            }
        }
        .cartFooter {
            height: 20%;
            .promoCode {
                background: white;
                text-align: center;
                padding: 20px;
                font-size: 1.5rem;
            }
            .checkout {
                color: white;
                display: flex;
                justify-content: space-between;
                background: white;
                border:10px solid white;
                font-size: 1.8rem;
                cursor: pointer;
                div {
                    width: 50%;
                    padding: 20px;
                    background: $primary-red;
                }
                &__amount {
                    text-align: right;
                }
                &__arrow {
                    padding: 0 10px;
                }
            }
        }
    }
}
@media only screen and (min-width: 601px) {
    .cart {
        top: 0;
        width: 100%;
        .cartContainer {
            height: 80%;
            background: $light-grey;
        }
        .cart__header {
            background: white;
            color: black;
            border-bottom: 5px solid $light-grey;
            .cart__header--close {
                display: none;
            }
        }
        .cartItemContainer {
            max-height: 350px;
            .cartItem {
                .cartItem__details {
                    font-size: 1.4rem;
                }
            }
        }
        .lowerPriceLabel { 
            font-size: 1.5rem;
            padding: 10px;
            min-height: 100px;
            max-height: 300px;
            background: $light-grey;
            &--img{
                background: white;
                padding: 5px;
            }
            &--text{
                background: white;
                padding: 5px;
            }
        }
        .cartFooter {
            height: 20%;
            .promoCode {
                background: white;
                text-align: center;
                padding: 20px;
                font-size: 1.5rem;
            }
            .checkout {
                color: white;
                display: flex;
                justify-content: space-between;
                background: white;
                border:10px solid white;
                cursor: pointer;
                font-size: 2rem;
                div {
                    width: 50%;
                    padding: 20px;
                    background: $primary-red;
                }
                &__amount {
                    text-align: right;
                }
                &__arrow {
                    padding: 0 10px;
                }
            }
        }
    }
}
@media only screen and (min-width: 769px) {
    .cart {
        top: 50px;
        width: 50%;
        position: relative;
        .cartContainer {
            height: 70%;
            background: $light-grey;
        }
        .cart__header {
            border: none;
            background: black;
            color: white;
            .cart__header--close {
                display: block;
                padding: 20px;
                font-size: 20px;
                cursor: pointer;
            }
        }
        .cartItemContainer {
            max-height: 350px;
            .cartItem {
                .cartItem__details {
                    font-size: 1.4rem;
                }
            }
        }
        .lowerPriceLabelContent{
            background: white;
            display: flex;
            align-items: center;
            min-height: 100px;
            max-height: 200px;
            .lowerPriceLabel {
                display: flex;
                background: white;
                align-items: center;
                justify-content: flex-start;
                border: 10px solid $light-grey;
                font-size: 20px;
                padding: 15px;
                min-height: 100px;
                &--img{
                    padding: 10px;
                }
                &--text{
                    padding: 10px;
                }
            }
        }
     
        .promoCode {
            background: white;
            text-align: center;
            padding: 20px;
            font-size: 2rem;
        }
        .checkout {
            color: white;
            display: flex;
            justify-content: space-between;
            background: white;
            border:10px solid white;
            font-size: 2rem;
            cursor: pointer;
            div {
                width: 50%;
                padding: 20px;
                background: $primary-red;
            }
            &__amount {
                text-align: right;
            }
            &__arrow {
                padding: 0 10px;
            }
        }
        .header {
            display: none;
        }
    }
}