.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    justify-content: center;
}
input {
    height: 100px;
    font-size: 60px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container1 div {
    flex: 100px;
    border: 1px solid black;
    margin: 2px;
    padding: 10px 35px;
}