@import './product/productsComponent';
@import './sidebar/sidebarComponent';

@media only screen and (max-width: 600px) {
    .productPage {
        width: 100%;
        display: flex;
        flex-direction: column;
        .sidebar {
            width: 100;
        }
        .products {
            width: 100%
        }
    }

}
@media only screen and (min-width: 600px) {
    .productPage {
        width: 100%;
        display: flex;
        .sidebar{
            width: 25%;
            background: $light-grey;
        }
        .products {
            width: 75%
        }
    }
}
@media only screen and (min-width: 769px) {
    .productPage {
        width: 100%;
        margin: 0 auto;
        display: flex;
        .sidebar{
            width: 20%;
            background: $light-grey;
        }
        .products {
            width: 80%
        }
    }
}
@media only screen and (min-width: 992px) {
    .productPage {
        width: 80%;
        display: flex;
        .sidebar{
            width: 20%;
            background: $light-grey;
        }
        .products {
            width: 80%
        }
    }
}