//mobile only
@media only screen and (max-width: 600px) {
    .productItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 2px dotted $light-grey;
        .productItem__name {
            font-size: 1.5rem;
            padding: 10px 0px;
            text-align: left;
        }
        .productItem__details {
            display: flex;
            flex-direction: row;
            .productItem__details--photo {
                width: 50%;
                img {
                    max-width: 100%;
                    max-height: 200px;
                }
            }
            .productItem__details--description {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &--text {
                    height: 12rem;
                    padding: 5px;
                    font-size: 1.5rem;
                    background: $light-grey;
                    text-align: left;
                }
                .productItem__details--description--mobileBuyBtn {
                    display: block;
                    background: $primary-red;
                    color: white;
                    button {
                        color: white;
                        font-size: 1.5rem;
                        padding: 10px 0px;
                        background: $primary-red;
                        border: 0;
                    }
                }
            }
        }
        .productItem__buy {
            display: none;
        }
    }

} 
// tab only
@media only screen and (min-width: 601px) {
    .productItem {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        .productItem__name {
            padding: 5px;
            font-size: 1.5rem;
            height: 50px;
            overflow: hidden;
            text-align: left;
        }
        .productItem__details {
            width: 100%;
            display: flex;
            flex-direction: row;
            .productItem__details--photo {
                width: 100%;
                img {
                    max-width: 100%;
                    max-height: 200px;
                }

            }
            .productItem__details--description {
                width: 100%;
                display: flex;
                flex-direction: column;
                background: $light-grey;
                overflow: hidden;
                border-radius: 5px;
                height: 13rem;
                &--text {
                    font-size: 13px;
                    text-align: left;
                    font-family: inherit;
                    word-spacing: 1px;
                    border-radius: 5px;
                    padding: 5px;
                }
                .productItem__details--description--mobileBuyBtn {
                    display: none;
                }
            }
        }
        .productItem__buy {
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 2px dotted $light-grey;
            &--mrp{
                display: none;
            }
            &--btn {
                display: none;
            }
            &--btn--cart{ 
                width: 100%;
                button {
                    width: 100%;
                    padding: 10px 30px;
                    background: $primary-red;
                    color: white;
                    font-size: 1.4rem;
                }
            }
        }
    }
} 

//desktop only
@media only screen and (min-width: 769px) {

.productItem {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    .productItem__name {
        font-size: 1.5rem;
        padding: .5rem;
        height: 5rem;
        overflow: hidden;
        text-align: left;
    }
    .productItem__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        .productItem__details--photo {
            width: 100%;
            img {
                max-width: 100%;
                padding: 1rem;
                max-height: 200px;
            }

        }
        .productItem__details--description {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: $light-grey;
            height: 10rem;
            overflow: hidden;
            border-radius: 5px;
            &--text {
                font-size: 1.5rem;
                text-align: left;
                font-family: inherit;
                word-spacing: 1px;
                border-radius: 5px;
                padding: 5px;
            }
            .productItem__details--description--mobileBuyBtn {
                display: none;
            }
        }
    }
    .productItem__buy {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px dotted $light-grey;
        &--mrp {
            display: block;
            padding: 15px;
            font-family: inherit;
            font-size: 1.2rem
        }
        &--btn {
            display: block;
            button {
                padding: 10px 25px;
                background: $primary-red;
                color: white;
                font-size: 1.25rem;
                &:hover {
                    background: #b90846f5;
                    cursor: pointer;
                }
            }
        }
        &--btn--cart{ 
            display: none;
        }
    }
}}