@media only screen and (max-width: 600px) {
    .navigation {
        display: none;
    }
    .logo {
        width: 25%;
    }
    .headerRight {
        width: 25%
    }
    .header {
        justify-content: space-between;
    }

}
.header {
    display: flex;
    border-bottom: 3px solid rgb(221, 220, 220);
    align-items: flex-end;
}
.logo {
    width: 15%;
}
.navigation {   
    width: 70%;
}
.headerRight {
    width: 15%
}
.cart {
    background: $light-grey;
}
.cartImg {
    width: 15%;
    vertical-align: middle;
}
.navigation li {
    display: inline;
    padding: 40px;
}
.loginContainer {
    margin: 20px;
}
.login{
    padding: 10px;
}