.btn {
	padding:10px 20px;
	display:inline-block;
	border-radius:3px;
	background:$primary-red;
	font-size:16px;
    color:#333;
    &--large {
        padding:20px 30px;
        font-size:22px;
    }
}

